.bar{
  display: inline-flex;
  justify-content: center;

  
  
}
.App {
justify-content: center;
align-items: center;
align-content: center;
text-align: center;

}
#inpt{
  display: block;
  margin:0 auto;
  height: 30px;
  margin-top: 7px;
  padding-left: 10px;
  
  
}

.zip {
  font-weight: bold;
  padding-right: 10px;

}
nav {
  display: flex;
  justify-content: center;
  color: white;
  background-color: #222222;
  font-size: 20px;
  
}


